/* Reset global */
html, #root {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

/* Container principal */
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  text-align: center;
  margin-top: -100px;
}

/* Buton Login */
.login-button {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #d2cc0e;
  padding: 10px 18px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.login-button a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.login-button:hover {
  background-color: #b9b300;
}

/* Admin Button */
.admin-button {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #ffcc00;
  padding: 10px 18px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  z-index: 1000;
}

.admin-button a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.admin-button:hover {
  background-color: #ffd700;
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.5);
}

/* Logo */
.logo-container {
  margin-bottom: 1rem;
}

.logo {
  width: 180px;
  height: auto;
}

.games-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0.5rem;
}

.game-box {
  background: #111;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 14px rgba(255, 255, 255, 0.1);
}

.game-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

.game-box img {
  width: 100%;
  max-width: 160px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-bottom: 1rem;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.home-container p {
  font-size: 1.2rem;
  color: #34495e;
} 