/* Variabile pentru tema întunecată - implicită */
:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #000000; /* culoare neagră fixă */
  --secondary-color: #333333;
  --button-bg: #000000;
  --button-text: #ffffff;
}

/* Tema deschisă (light) */
body.light-theme {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #ffffff; /* culoare albă fixă */
  --secondary-color: #cccccc;
  --button-bg: #ffffff;
  --button-text: #000000;
}
