<h2>Adaugă Joc</h2>
<form method="POST">
    Nume: <input name="name"><br> Descriere: <textarea name="description"></textarea><br> Tip:
    <select name="type">
    <option value="slots">Slots</option>
    <option value="poker">Poker</option>
    <option value="blackjack">Blackjack</option>
    <option value="roulette">Roulette</option>
    <option value="sports">Sports</option>
    <option value="other">Other</option>
  </select><br> Furnizor: <input name="provider"><br> Thumbnail: <input name="thumbnail"><br> Min Bet: <input type="number" step="0.01" name="min_bet"><br> Max Bet: <input type="number" step="0.01" name="max_bet"><br>
    <button type="submit">Adaugă</button>
</form>